$mainBcDark:white;

.content-container {
    padding: 0px;
    position: absolute;
    left: 0;
    top: 36px;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background:#{$mainBcDark};
    top: 98px;
    height: calc(100%-98px);
    border-left: 1px #ccc solid;
    // min-height: 600px;

    .main-container {
        width: calc(100% - 120px);
        float: right;
        height: 100%;
        background: #{$mainBcDark};
        border-radius: 10px;
    }
}