/*存放所有全局变量*/
$cardTitle:#C7D200; //首页 卡片标题颜色
$bcColor:#182037;
$hoverColor: #7abef9; //链接hover颜色
$fontColor: #E6EFFF; //字体颜色-白色
$mainBodyColor:rgb(122, 190, 249); //主题色
$menuHighlightColor:#17A3F6; //菜单高亮颜色
$menuNormalColor:#858585; //菜单正常颜色

$oneLevelBtnColor:#0090E5; //一级按钮默认颜色
$oneLevelBtnHoverColor:#1EA9FB; //一级按钮悬停颜色

$leftWidth:120px; //左侧菜单宽度