<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>
    <div id="app">
        <!-- 注意：在遍历对象身上的键值对的时候，除了有 val 、key ,在第三个位置还有一个索引index  -->
        <p v-for="(val, key, index) in userInfo">键是：{{key}} ，值是：{{ val }} ，索引：{{index}}</p>
        <p v-for="i in 3">这是第 {{i}} 个p标签</p>
        <ul>
            <li v-for="(item,index) in users">{{++index}}.[{{item.title}}]{{item.name}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in list">{{++index}}.{{item}}</li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                list: ['《水浒传》', '《三国演义》', '《西游记》', '《红楼梦》'],
                users: [{ name: '段延庆', title: '恶贯满盈' }, { name: '叶二娘', title: '无恶不做' }, { name: '南海鳄神', title: '凶神恶煞' }, { name: '云中鹤', title: '穷凶极恶' }],
                userInfo: {
                    username: '张三丰',
                    age: 100,
                }
            }
        })
    </script>
</body>

</html>