/*奇数*/
ul li:nth-child(odd) {
    background-color: lightcoral;
}

/*偶数*/
ul li:nth-child(even) {
    background-color: lightcyan;
}

ul li {
    font-size: 12px;
    line-height: 30px;
    list-style: none;
}
.img,.img2{
    width:300px;
    height: 500px;
    background-size: 100% !important;
    float: left;
}


.img{
    background: url('../img/boy.jpg') no-repeat;  
}
.img2{
    background: url('../images/boy.jpg') no-repeat;
}
.fl-clear{
    float: left;
    clear: both;
    color: red;
}